@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans|Rock+Salt|Fira+Sans|Roboto&display=swap");
:root {
	--primary-blue: #7ecfc0;
	--primary-light: #f2e3c9;
	--primary-orange: #ec8f6a;
	--primary-red: #ef4b4b;
}
body {
	margin: 0;
	font-family: "Fira Sans", "Alegreya Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.register-container {
	text-align: center;
}

.flip-card {
	display: inline-block;
	background-color: transparent;
	width: 700px;
	height: 400px;
	perspective: 1000px;
	margin-top: 45px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
	border-radius: 20px;
	background-color: var(--primary-light);
	color: black;
}

/* Style the back side */
.flip-card-back {
	border-radius: 20px;
	background-color: var(--primary-light);
	transform: rotateY(180deg);
}
/* Card display */
.question-header {
	font-weight: bold;
}
.question-content {
	/* font-family: "Fira Sans", sans-serif; */
}
/* Card display end */
button.login-btn {
	background-color: var(--primary-light);
	border-radius: 10px;
	padding: 5px 10px;
}
button:active {
	transform: scale(0.95);
}
button:focus {
	outline: none;
}
.register-submit-btn {
	padding: 10px 20px;
	background-color: var(--primary-orange);
	border-radius: 20px;
}
.navbar {
	position: relative;
}
.header-logo {
	color: white;
	size: 1.5rem;
	font-weight: bold;
	font-family: "Rock Salt", cursive;
}
.brand {
	position: absolute;
	left: 50%;
	margin-left: -50px !important; /* 50% of your logo width */
	display: block;
}

.emptyButton {
	padding: 0;
	border: none;
	background: none;
	color: dodgerblue;
}

.emptyButton2 {
	padding: 0;
	border: none;
	background: none;
	margin-left: 25px;
}

.emptyButton:focus {
	outline: none;
}

.emptyButton2:focus {
	outline: none;
}

div > h3 {
	margin-top: 15px;
}

hr {
	width: 80%;
	border: 0;
	height: 1px;
	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0)
	);
}

.answerBlock {
	text-align: left;
}

.answerBlock button {
	margin-top: 12px;
}

.flip-card-back input {
	width: 60%;
	display: inline-block;
	margin-bottom: 30px;
}

.navbar input {
	width: 35%;
	display: inline-block;
}
#register-navbar {
	background-color: var(--primary-blue) !important;
}
